<div class="tasks-list">
  <mat-card class="tasks-list__card" *ngFor="let task of tasks; index as index;">
    <mat-checkbox
      class="example-margin"
      [checked]="task.isComplete"
      (change)="changeTask(task._id, task.title, $event.checked, index)"
    >
      <span [style]="{textDecoration: task.isComplete ? 'line-through' : 'none'}">{{task.title}}</span>
    </mat-checkbox>
    <div class="tasks-list__buttons">
      <button mat-icon-button (click)="onClick(task._id, index)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
