<div class="tasks-list">
  <mat-card class="tasks-list__card">
    <!--    <mat-checkbox class="example-margin">-->
    task name
    <!--    </mat-checkbox>-->
    <div class="tasks-list__buttons">
      <!--      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">-->
      <!--        <mat-icon>more_vert</mat-icon>-->
      <!--      </button>-->
      <!--      <button mat-icon-button>-->
      <!--        <mat-icon>delete</mat-icon>-->
      <!--      </button>-->
    </div>
  </mat-card>
</div>
